<style>
<!--
.datalist tr.altrow{
    background-color:#c7e5ff;
    }
table
{
    border-collapse: separate;
    empty-cells: hide;

}
-->
</style>
<form name="input" action="/" method="post">
    <table>
    <tr>
        <td>good=</td>
        <td>
        {% set good_value=[0, 1, 2] %}
        <select name="good">
        {% for i in good_value %}
        {% if int(i) == good %}
        <option value={{ i }} selected="selected">{{ i }}</option>
        {% else %}
        <option value={{ i }}>{{ i }}</option>
        {% end %}
        {% end %}
        </select>
        </td>
        <td>
        <input name="sub" type="submit" value="查询">
        </td>
    </tr>
    <tr>
    </tr>
    </table>
</form>

<table class="datalist" frame=rhs>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>pos</th>
        <th>frequency</th>
        <th>length</th>
        <th>industry</th>
        <th>type</th>
        <th>good</th>
    </tr>
    {% for i in range(0, len(info)) %}
    {% if i%2 == 0 %}
    <tr class="altrow" >
    {% else %}
    <tr>
    {% end %}
    <form name="input" action="/poem?page={{ page }}&id={{ info[i]['id'] }}&isdelete=0&good={{ good }}" method="post">
        <td>{{ info[i]['id']  }}</td>
        <td>{{ info[i]['name'] }}</td>
        <td>
            {% set poslist=['o', 'v', 'n', 'a', 'j', 'd', 'q', 'nr'] %}
            <select name="pos">
            {% for po in poslist%}
            {% if po == info[i]['pos']%}
            <option value='{{ po }}' selected="selected">{{ po }}</option>
            {% else %}
            <option value='{{ po }}'>{{ po }}</option>
            {% end %}
            {% end %}
            </select>
        </td>
        <td>{{ info[i]['frequency'] }}</td>
        <td>{{ info[i]['length'] }}</td>
        <td>{{ info[i]['industry'] }}</td>
        <td>
            {% set typelist=['废词', '基础词', '成语', '词组'] %}
            <select name="type">
            {% for po in range(0, len(typelist)) %}
            {% if po == info[i]['type'] %}
            <option value='{{ po }}' selected="selected">{{ typelist[po] }}</option>
            {% else %}
            <option value='{{ po }}'>{{ typelist[po] }}</option>
            {% end %}
            {% end %}
            </select>
        </td>
        <td>{{ info[i]['good'] }}</td>
        <td><input name="sub" type="submit" formaction="/poem?page={{ page }}&id={{ info[i]['id'] }}&isdelete=1&good={{ good }}" value="删除"></td>
        <td><input name="sub" type="submit" value="提交"></td>
    </form>
    </tr>
    {% end %}
</table>

<table>
   <tr>
   </tr>
   <tr>
    {% for i in range(0,100)%}
    <th></th>
    {% end %}
    <th>
    {% if page != 0 %}
    <form name="input" action="/hello?page={{ page }}&good={{ good }}" method="post">
        <input type="submit" value="<">
    </form>
    {% end %}
    </th>
    <th>
    <form name="input" action="/hello?&good={{ good }}" method="post">
        <select name="page">
        {% for i in range(1, count['num']+2) %}
        {% if i == page+1 %}
        <option value='{{i}}' selected="selected">{{i}}</option>
        {% else %}
        <option value='{{i}}'>{{i}}</option>
        {% end %}
        {% end %}
        <input type="submit" value="页">
    </form>
    </th>
    <th>
    {% if page != count['num'] %}
    <form name="input" action="/hello?page={{ page+2 }}&good={{ good }}" method="post">
        <input type="submit" value=">">
    </form>
    {% end %}
    </th>
    </tr>
</table>
